# System and environment files
.cache/
.config/
.local/
.nvm/
.ssh/
.bash_interactive
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
# Dependencies
**/node_modules/
# Build outputs
server/dist/
# Lock files
server/pnpm-lock.yaml
vite/pnpm-lock.yaml
